<h1>Lobbyist Client: <%= @meetings.first.lobbyist_client %></h1>
<p>Total Compensation paid to Firms: $<%= @payment.payments if @payment  %></p>
<p>Official with most visits: <%= @count.official %>:
                          <%= @count.official_count %> visits</p>
<% @meetings.each do |meeting| %>
  <ul>
    <li>Official Name: <%= link_to meeting.official, searches_path(search: meeting.official, type: "official" ) %></li>
    <li>Official Department <%= meeting.official_department %></li>
    <li>Municipal Decision: <%= link_to meeting.municipaldecision, searches_path(search: meeting.municipaldecision, type: "municipaldecision") %></li>
    <li>Lobbyist Name: <%= link_to meeting.lobbyist, searches_path(search: meeting.lobbyist, type: "lobbyist") %></li>
    <li>Lobbyist Firm: <%= link_to meeting.lobbyist_firm, searches_path(search: meeting.lobbyist_firm, type: "lobbyist_firm") %></li>
  </ul>
<% end %>
