<h1>Official: <%= @meetings.first.official %></h1>

<p>Contributions Recieved from Lobbyist Firms: $<%= @contribution.contributions unless @contribution == [] %></p>
<% if @contribution_count %>
  <p>Firm that gave the most: <%= @contribution_count.lobbyist_firm %>:
                          $<%= @contribution_count.contributions %></p>
<% end %>

<p>Firm with most visits: <%= @count.lobbyist_firm %>:
                          <%= @count.firm_count %> visits</p>


<% @meetings.each do |meeting| %>
  <ul>
    <li>Official Department: <%= meeting.official_department %></li>
    <li>Lobbyist Firm: <%= link_to meeting.lobbyist_firm, searches_path(search: meeting.lobbyist_firm, type: "lobbyist_firm") %></li>
    <li>Lobbyist Name: <%= link_to meeting.lobbyist, searches_path(search: meeting.lobbyist, type: "lobbyist") %></li>
    <li>Lobbyist Client: <%= link_to meeting.lobbyist_client, searches_path(search: meeting.lobbyist_client, type: "lobbyist_client") %></li>
    <li>Municipal Decision: <%= link_to meeting.municipaldecision, searches_path(search: meeting.municipaldecision, type: "municipaldecision") %></li>
  </ul>
<% end %>
